body {
  background: linear-gradient(90deg, #f7971e, #fde807 100%) fixed;
  color: azure;
  min-height: 100vh;

  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
}

h3 {
  margin: 0 0 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  display: flex;
}

.image {
  width: 70%;
  max-width: 600px;
  border: 1px solid gainsboro;
  background-color: wheat;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.drag {
  border-radius: 5px;
  padding: 5px;
  height: 50px;
  margin: 20px;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #0000ff;
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: green;
}

.reload {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
